div {
    margin: 0 auto;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    background-color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol li {
    text-align: left;
}

body {
    background-color: beige;
}

.para-fazer {
    color: red;
    font-weight: bold;
}

.concluida {
    color: green;
    text-decoration: line-through;
    font-style: italic;
}

.btn-excluir {
    margin-left: 10px;
}